body {
  background-color: f5f5f5;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #283e49;
  height: 50px;
}

.start {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.end {
  display: flex;
  align-content: flex-end;
}

.search {
  width: 250px;
  height: 25px;
  background-color: #e1e9ee;
  margin: 0px 20px;
}

.logo {
  height: 35px;
  width: 35px;
}

.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

.box1 {
  border: 1px solid grey;
  height: 400px;
  width: 220px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px grey;
  background-color: white;
}

.box2 {
  border: 1px solid grey;
  height: 700px;
  width: 399px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px grey;
  background-color: white;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.box3 {
  border: 1px solid grey;
  height: 240px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 0px 2px 10px grey;
  background-color: white;
}
